<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CS399.ibuy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CategoryActivity" android:label="@string/categories" />
        <activity android:label="@string/cart" android:name=".CartActivity" />
        <activity android:label="@string/clean" android:name=".CleaningActivity" />
        <activity android:label="@string/service" android:name=".ServicesActivity" />
        <activity android:label="@string/elec" android:name=".ElectronicsActivity" />
        <activity android:label="@string/food" android:name=".FoodActivity" />
    </application>

</manifest>
